__pycache__/
.ipynb_checkpoints/*
*.png
data/*/*
!data/*/preprocess*
*.pyc
exp*.ipynb
*.html
*.ipynb
*.pdf
*.npy
data/
poverty/
power/
retringAdult/
toy_slope/
toy_slope_2D/
toy_slope_10D/
retiringAdult/
disde.py
